body {
    text-align: center;
    font-family: sans-serif;
}

.container {
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ccc;
}

td {
    border: 2px solid #ccc;
    padding: 10px 20px;
    text-align: center;
}

td:empty {
    border: none;
}